.disclaimer {
    padding: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 4rem 6rem rgba(0,0,0, 0.15);
    background-color: var(--color-white);
    width: 100%;
    text-align: center;
    z-index: 100;
}

.close {
    display: inline-block;
    font-weight: 700;
    position: absolute;
top: 10%;
right: 7%;
cursor: pointer;
}

.disclaimer .sudo {
    display: none;
}