/* TOP MARGINS */

.u-margin-top-small {
    margin-top: 3rem;
  }
  
  .u-margin-top-medium {
    margin-top: 6rem;
  }
  
  .u-margin-top-large {
    margin-top: 8rem;
  }
  
  /* BOTTOM MARGINS */
  .u-margin-bottom-small {
    margin-bottom: 3rem;
  }
  
  .u-margin-bottom-medium {
    margin-bottom: 6rem;
  }
  
  .u-margin-bottom-large {
    margin-bottom: 8rem;
  }
  /* LEFT MARGINS */
  
  .u-margin-left-small {
    margin-left: 3rem;
  }
  
  .u-margin-left-medium {
    margin-left: 6rem;
  }
  
  .u-margin-left-large {
    margin-left: 8rem;
  }
  
  /* RIGHT MARGINS */
  
  .u-margin-right-small {
    margin-right: 3rem;
  }
  
  .u-margin-right-medium {
    margin-right: 6rem;
  }
  
  .u-margin-right-large {
    margin-right: 8rem;
  }
  