

$color-primary: #fcd9b9;
$color-blue: #1d2d50;
$color-blue-dark: #112d4e;
$color-blue-light-one: #133c5c;
$color-blue-light: #1f5f75;


$color-white: #fff;
$color-grey: #52616b;

$color-secondary: #ea5455;

$color-teritiary: #1fab89;

$color-black: #000;
