{{>inital}}
{{!-- --}}
{{>navigation}}
{{!-- --}}
<section id="hero">
    <div class="hero__content">
        <div class="hero__primary">
            <h5 class="hero__top">
                Welcome to Tech Particle!
            </h5>
            <h1 class="hero__medium">
                A fun way to learn
            </h1>
            <p class="hero__bottom">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, tenetur. Ipsa omnis
                consectetur.
            </p>
            <div class="hero__cta">

                <div class="hero__btn">
                    join class today
                </div>
            </div>
        </div>
        <div class="hero__secondary">
            <blockquote class="instagram-media"
                data-instgrm-permalink="https://www.instagram.com/p/CEG5EBLHA9w/?utm_source=ig_embed&amp;utm_campaign=loading"
                data-instgrm-version="13"
                style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                <div style="padding:16px;"> <a
                        href="https://www.instagram.com/p/CEG5EBLHA9w/?utm_source=ig_embed&amp;utm_campaign=loading"
                        style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                        target="_blank">
                        <div style=" display: flex; flex-direction: row; align-items: center;">
                            <div
                                style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;">
                            </div>
                            <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                <div
                                    style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;">
                                </div>
                                <div
                                    style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;">
                                </div>
                            </div>
                        </div>
                        <div style="padding: 19% 0;"></div>
                        <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px"
                                height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg"
                                xmlns:xlink="https://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                                        <g>
                                            <path
                                                d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div style="padding-top: 8px;">
                            <div
                                style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                                View this post on Instagram</div>
                        </div>
                        <div style="padding: 12.5% 0;"></div>
                        <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                            <div>
                                <div
                                    style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);">
                                </div>
                                <div
                                    style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;">
                                </div>
                                <div
                                    style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);">
                                </div>
                            </div>
                            <div style="margin-left: 8px;">
                                <div
                                    style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;">
                                </div>
                                <div
                                    style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)">
                                </div>
                            </div>
                            <div style="margin-left: auto;">
                                <div
                                    style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);">
                                </div>
                                <div
                                    style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);">
                                </div>
                                <div
                                    style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);">
                                </div>
                            </div>
                        </div>
                        <div
                            style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                            <div
                                style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;">
                            </div>
                            <div
                                style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;">
                            </div>
                        </div>
                    </a>
                    <p
                        style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
                        <a href="https://www.instagram.com/p/CEG5EBLHA9w/?utm_source=ig_embed&amp;utm_campaign=loading"
                            style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;"
                            target="_blank">A post shared by Tech Particle (@techparticle00)</a>
                    </p>
                </div>
            </blockquote>
            <script async src="//www.instagram.com/embed.js"></script>
        </div>
    </div>
</section>
<section id="about">
    <div class="about__container">
        <div class="about__main">
            <img src="./img/d.jpg" alt="" srcset="" class="about__img">

            <div class="helper">&nbsp;</div>
        </div>
        <div class="about__secondary">
            <h5 class="about__head">
                About Us
            </h5>
            <h2 class="about__title u-margin-top-medium">
                Passionate Professionals IN THE CIty OF tech
            </h2>
            <p class="about__text u-margin-top-small">
                Neque felis cras nunc magna turpis tincidunt enim facilisi orci sed id est mauris felis parturient
                accumsan sapien nunc nibh dignissim neque nec, molestie vel magna at et urna vulputate ut etiam in
                mattis est egestas penatibus vitae maecenas interdum sed arcu donec risus vestibulum aliquet auctor
                quam.
            </p> <br>
            <p class="about__text">
                At metus, sit egestas auctor morbi morbi duis erat ultrices adipiscing id sed id pellentesque tristique
                sed risus faucibus aliquet lacus, sagittis, lectus nec blandit pretium urna sit dignissim senectus arcu
                curabitur vulputate congue at non aliquet aenean non massa egestas nunc, curabitur id leo malesuada
                commodo, ornare adipiscing mauris ac varius ultricies adipiscing velit faucibus.
            </p>
            <div class="about__btn u-margin-top-medium">
                <a href="">read more &rtrif;</a>
            </div>
        </div>
    </div>
</section>

<section id="tech">
    <div class="tech">
        <div class="tech__element">
            <div class="tech__container">
                <h6 class="number">
                    01
                </h6>
                <h3 class="tech__head u-margin-top-large">
                    Networking
                </h3>
                <p class="tech__desc u-margin-top-small">
                    Mi varius elementum proin libero praesent at euismod.
                </p>
                <div class="read__more">
                    <a href="">Read More &rtrif;</a>
                </div>
            </div>

        </div>
        <div class="tech__element">
            <div class="tech__container">
                <h6 class="number">
                    02
                </h6>
                <h3 class="tech__head u-margin-top-large">
                    Security
                </h3>
                <p class="tech__desc u-margin-top-small">
                    In posuere vitae aliquam aliquet dolor facilisis quam.
                </p>
                <div class="read__more">
                    <a href="">Read More &rtrif;</a>
                </div>
            </div>

        </div>
        <div class="tech__element">
            <div class="tech__container">
                <h6 class="number">
                    03
                </h6>
                <h3 class="tech__head u-margin-top-large">
                    Development
                </h3>
                <p class="tech__desc u-margin-top-small">
                    Quis nulla a, molestie ut lectus quisque purus.
                </p>
                <div class="read__more">
                    <a href="">Read More &rtrif;</a>
                </div>
            </div>

        </div>
        <div class="tech__element">
            <div class="tech__container">
                <h6 class="number">
                    04
                </h6>
                <h3 class="tech__head u-margin-top-large">
                    Competitive
                </h3>
                <p class="tech__desc u-margin-top-small">
                    Nibh aliquam lacus nec tincidunt id congue nisi.
                </p>
                <div class="read__more">
                    <a href="">Read More &rtrif;</a>
                </div>
            </div>

        </div>
    </div>
    <div class="tech__heading">
        <h3 class="heading__main">
            Our Programs
        </h3>
        <h1 class="heading__sec">
            We deal with following
        </h1>
    </div>
</section>

<section id="lang">
    <div class="lang__main">
        technologies <br> covered
    </div>
    <div class="lang__sec">
        {{!-- HTML5 --}}
        <svg width="42" height="48" viewBox="0 0 42 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M0 0L3.73929 42.4071L20.5179 48L37.4036 42.4071L41.1429 0H0ZM33.0214 13.7036H13.3286L13.7679 18.9964H32.5821L31.125 34.8964L20.6357 37.7893V37.8214H20.5179L9.94286 34.8964L9.3 26.775H14.4107L14.7857 30.8571L20.5179 32.4107L26.2714 30.8571L26.9143 24.1929H9.03214L7.66071 8.59286H33.4929L33.0214 13.7036Z"
                    fill="#BEC4C9" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="41.1429" height="48" fill="white" />
                </clipPath>
            </defs>
        </svg>
        {{!-- CSS 3 --}}
        <svg width="42" height="48" viewBox="0 0 42 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M0.142883 0L3.88217 42.4071L20.7143 48L37.5465 42.4071L41.2857 0H0.142883ZM33.6893 8.57143L33.175 13.6393L20.8215 18.9214L20.7893 18.9321H32.7357L31.3643 34.6393L20.8429 37.7143L10.2572 34.5857L9.57146 26.6679H14.8107L15.1536 30.7714L20.7893 32.1964L26.65 30.5464L27.0465 23.9464L9.2286 23.8929V23.8821L9.20717 23.8929L8.82146 18.9321L20.8322 13.9286L21.5286 13.6393H8.36074L7.73931 8.57143H33.6893Z"
                    fill="#BEC4C9" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="41.1429" height="48" fill="white" transform="translate(0.142883)" />
                </clipPath>
            </defs>
        </svg>
        {{!-- JS --}}
        <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M0.285767 0V48H48.2858V0H0.285767ZM26.4072 37.4357C26.4072 42.1071 23.6643 44.2393 19.6679 44.2393C16.0572 44.2393 13.9679 42.375 12.8965 40.1143L16.5715 37.8964C17.2786 39.15 17.9215 40.2107 19.4751 40.2107C20.9536 40.2107 21.8965 39.6321 21.8965 37.3714V22.0393H26.4072V37.4357ZM37.0786 44.2393C32.8893 44.2393 30.1786 42.2464 28.8608 39.6321L32.5358 37.5107C33.5001 39.0857 34.7643 40.2536 36.9822 40.2536C38.8465 40.2536 40.0465 39.3214 40.0465 38.025C40.0465 36.4821 38.8251 35.9357 36.7572 35.025L35.6322 34.5429C32.3751 33.1607 30.2215 31.4143 30.2215 27.7393C30.2215 24.3536 32.8036 21.7821 36.8215 21.7821C39.6929 21.7821 41.75 22.7786 43.2286 25.3929L39.7143 27.6429C38.9429 26.2607 38.1072 25.7143 36.8108 25.7143C35.4929 25.7143 34.6572 26.55 34.6572 27.6429C34.6572 28.9929 35.4929 29.5393 37.4322 30.3857L38.5572 30.8679C42.3929 32.5071 44.5465 34.1893 44.5465 37.9607C44.5465 42.0107 41.3536 44.2393 37.0786 44.2393Z"
                    fill="#BEC4C9" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="48" height="48" fill="white" transform="translate(0.285767)" />
                </clipPath>
            </defs>
        </svg>
        {{!-- NODE --}}
        <svg width="43" height="48" viewBox="0 0 43 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M21.6191 48C20.981 48 20.3334 47.8286 19.7715 47.5048L13.8953 44.0286C13.0191 43.5333 13.4477 43.3619 13.7334 43.2667C14.9048 42.8571 15.1429 42.7714 16.3905 42.0571C16.5238 41.981 16.6953 42.0095 16.8286 42.0952L21.3429 44.7714C21.5048 44.8667 21.7334 44.8667 21.8858 44.7714L39.4762 34.619C39.6381 34.5238 39.7429 34.3333 39.7429 34.1429V13.8381C39.7429 13.6381 39.6381 13.4571 39.4667 13.3524L21.8858 3.20952C21.7238 3.11428 21.5048 3.11428 21.3429 3.20952L3.77146 13.3619C3.60004 13.4571 3.49527 13.6476 3.49527 13.8476V34.1429C3.49527 34.3333 3.60004 34.5238 3.77146 34.6095L8.59051 37.3905C11.2096 38.6952 12.8096 37.1619 12.8096 35.6095V15.5714C12.8096 15.2857 13.0381 15.0667 13.3238 15.0667H15.5524C15.8286 15.0667 16.0667 15.2857 16.0667 15.5714V35.619C16.0667 39.1048 14.1619 41.1048 10.8572 41.1048C9.83813 41.1048 9.03813 41.1048 6.80956 40L2.20004 37.3429C1.05718 36.6857 0.352417 35.4571 0.352417 34.1333V13.8381C0.352417 12.5238 1.05718 11.2857 2.20004 10.6286L19.7715 0.476189C20.8858 -0.152382 22.3619 -0.152382 23.4667 0.476189L41.0572 10.6381C42.2 11.2952 42.9048 12.5238 42.9048 13.8476V34.1429C42.9048 35.4571 42.2 36.6857 41.0572 37.3524L23.4667 47.5048C22.9048 47.8286 22.2667 48 21.6191 48ZM35.8191 27.9905C35.8191 24.1905 33.2477 23.181 27.8477 22.4667C22.381 21.7429 21.8286 21.3714 21.8286 20.0952C21.8286 19.0381 22.2953 17.6286 26.3429 17.6286C29.9524 17.6286 31.2858 18.4095 31.8381 20.8476C31.8858 21.0762 32.0953 21.2476 32.3334 21.2476H34.6191C34.7619 21.2476 34.8953 21.1905 34.9905 21.0857C35.0858 20.981 35.1334 20.8381 35.1238 20.6952C34.7715 16.4952 31.981 14.5429 26.3429 14.5429C21.3238 14.5429 18.3334 16.6571 18.3334 20.2095C18.3334 24.0571 21.3143 25.1238 26.1238 25.6C31.8858 26.1619 32.3334 27.0095 32.3334 28.1429C32.3334 30.1048 30.7524 30.9429 27.0477 30.9429C22.3905 30.9429 21.3715 29.7714 21.0286 27.4571C20.9905 27.2095 20.781 27.0286 20.5238 27.0286H18.2477C17.9619 27.0286 17.7429 27.2571 17.7429 27.5333C17.7429 30.4952 19.3524 34.0286 27.0572 34.0286C32.6191 34.019 35.8191 31.819 35.8191 27.9905Z"
                    fill="#BEC4C9" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="42.6667" height="48" fill="white" transform="translate(0.285767)" />
                </clipPath>
            </defs>
        </svg>
        {{!-- VUE --}}
        <svg width="57" height="48" viewBox="0 0 57 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M45.1933 0.0374756H35.5808L28.5808 11.1125L22.5808 0.0374756H0.580811L28.5808 48L56.5808 0.0374756H45.1933ZM7.54331 4.03748H14.2683L28.5808 28.8125L42.8808 4.03748H49.6058L28.5808 40.0625L7.54331 4.03748Z"
                    fill="#BEC4C9" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="56" height="48" fill="white" transform="translate(0.580811)" />
                </clipPath>
            </defs>
        </svg>

        {{!-- React --}}
        <svg width="56" height="48" viewBox="0 0 56 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M45.5532 15.5225C44.9759 15.3301 44.3986 15.1483 43.8213 14.9773C43.9175 14.5817 44.0031 14.1862 44.0886 13.7907C45.4035 7.41916 44.5376 2.29845 41.6191 0.60936C38.8075 -1.00489 34.2213 0.673503 29.5817 4.71448C29.122 5.11003 28.673 5.52696 28.2454 5.94388C27.9567 5.66593 27.6574 5.38798 27.3581 5.12072C22.4939 0.801788 17.6191 -1.01558 14.7006 0.684193C11.8997 2.30914 11.0659 7.13052 12.2418 13.1599C12.3594 13.7586 12.4877 14.3466 12.6374 14.9452C11.9532 15.1376 11.2797 15.3515 10.6489 15.576C4.94026 17.5537 0.845825 20.6753 0.845825 23.9038C0.845825 27.2392 5.20752 30.5853 11.1407 32.6165C11.6218 32.7768 12.1028 32.9372 12.5946 33.0762C12.4342 33.7176 12.2953 34.3483 12.167 35.0005C11.0445 40.9336 11.9211 45.6374 14.722 47.2517C17.6084 48.9194 22.4619 47.2089 27.187 43.0717C27.5612 42.7403 27.9354 42.3982 28.3095 42.0348C28.7799 42.4944 29.2717 42.9327 29.7634 43.3604C34.3389 47.2944 38.861 48.8873 41.6512 47.2731C44.5376 45.6054 45.4783 40.5488 44.2596 34.3911C44.1634 33.9207 44.0565 33.4397 43.9389 32.9479C44.281 32.8517 44.6124 32.7448 44.9438 32.6379C51.1122 30.596 55.5808 27.2927 55.5808 23.9038C55.5808 20.6646 51.3688 17.5216 45.5532 15.5225ZM31.089 6.44633C35.0659 2.98263 38.7754 1.62495 40.4645 2.59778C42.2712 3.63475 42.9661 7.8254 41.8329 13.331C41.7581 13.6944 41.6832 14.0472 41.587 14.4C39.2138 13.8655 36.8084 13.4806 34.3924 13.2668C33.0026 11.2784 31.4846 9.37551 29.8383 7.59021C30.2552 7.19466 30.6614 6.8205 31.089 6.44633ZM18.7202 29.4521C19.2654 30.3822 19.8213 31.3123 20.4093 32.2209C18.7416 32.0392 17.0846 31.7719 15.4489 31.4192C15.9193 29.8797 16.5073 28.2869 17.1915 26.6619C17.6832 27.6027 18.1857 28.5327 18.7202 29.4521ZM15.481 16.5915C17.0204 16.2494 18.6561 15.9715 20.3558 15.7577C19.7893 16.645 19.2334 17.5537 18.7095 18.4731C18.1857 19.3817 17.6726 20.3118 17.1915 21.2526C16.518 19.6597 15.9514 18.0989 15.481 16.5915ZM18.4102 23.9572C19.1158 22.482 19.8855 21.0388 20.6979 19.6169C21.5104 18.1951 22.387 16.816 23.3064 15.4584C24.91 15.3408 26.5456 15.2766 28.2133 15.2766C29.881 15.2766 31.5273 15.3408 33.1202 15.4584C34.0289 16.8054 34.8948 18.1844 35.718 19.5956C36.5411 21.0067 37.3109 22.4499 38.0378 23.9145C37.3215 25.3898 36.5518 26.8437 35.7287 28.2762C34.9162 29.698 34.0503 31.0771 33.1416 32.4454C31.5487 32.563 29.8917 32.6165 28.2133 32.6165C26.5349 32.6165 24.91 32.563 23.3385 32.4668C22.4084 31.1091 21.5318 29.7194 20.7086 28.2976C19.8855 26.8757 19.1264 25.4325 18.4102 23.9572ZM37.7171 29.4307C38.2623 28.49 38.7754 27.5385 39.2779 26.5764C39.9621 28.1265 40.5607 29.698 41.0846 31.3123C39.4276 31.6864 37.7492 31.9751 36.0601 32.1675C36.6374 31.2695 37.1826 30.3501 37.7171 29.4307ZM39.2565 21.2526C38.7541 20.3118 38.2409 19.3711 37.7064 18.4517C37.1826 17.543 36.6374 16.645 36.0708 15.7577C37.7919 15.9715 39.4383 16.2601 40.9777 16.6129C40.4859 18.1951 39.9086 19.7345 39.2565 21.2526ZM28.2347 9.22584C29.3572 10.4446 30.4155 11.7274 31.3991 13.053C29.2823 12.9568 27.155 12.9568 25.0383 13.053C26.0859 11.6739 27.1656 10.3911 28.2347 9.22584ZM15.8338 2.67261C17.6298 1.62495 21.6173 3.12161 25.8187 6.84188C26.0859 7.07707 26.3532 7.33364 26.6311 7.59021C24.9741 9.37551 23.4454 11.2784 22.0449 13.2668C19.6289 13.4806 17.2342 13.8548 14.861 14.3786C14.722 13.8334 14.6044 13.2775 14.4868 12.7216C13.4819 7.54744 14.1447 3.64544 15.8338 2.67261ZM13.2146 30.8526C12.7656 30.7243 12.3273 30.5853 11.889 30.4356C9.61197 29.7194 7.02489 28.5862 5.15407 27.1002C4.07433 26.3519 3.34738 25.1973 3.14427 23.9038C3.14427 21.9474 6.52244 19.4459 11.3973 17.7461C12.0066 17.5323 12.6267 17.3399 13.2467 17.1581C13.9737 19.478 14.8503 21.755 15.8659 23.9572C14.8396 26.1915 13.9523 28.5007 13.2146 30.8526ZM25.6797 41.3292C23.9158 42.9434 21.8739 44.2263 19.6503 45.1029C18.4636 45.6695 17.0953 45.7229 15.8766 45.2419C14.1768 44.2584 13.4712 40.4846 14.4334 35.4067C14.5509 34.808 14.6792 34.2094 14.8289 33.6214C17.2236 34.1345 19.6396 34.4873 22.0877 34.669C23.4988 36.6682 25.0489 38.5817 26.706 40.3777C26.3639 40.7091 26.0218 41.0299 25.6797 41.3292ZM28.2988 38.7314C27.2084 37.5555 26.118 36.2512 25.0596 34.8508C26.0859 34.8935 27.1443 34.9149 28.2133 34.9149C29.3144 34.9149 30.3942 34.8935 31.4632 34.8401C30.4797 36.1978 29.4213 37.4913 28.2988 38.7314ZM42.2712 41.9385C42.175 43.2428 41.5336 44.4615 40.5073 45.2846C38.8075 46.2682 35.1835 44.9853 31.2708 41.6285C30.8218 41.2437 30.3728 40.8267 29.9131 40.3991C31.5487 38.5924 33.0561 36.6788 34.4244 34.669C36.8726 34.4659 39.31 34.0918 41.7153 33.5466C41.8222 33.9849 41.9184 34.4232 42.004 34.8508C42.5278 37.1599 42.6133 39.5653 42.2712 41.9385ZM44.2169 30.4463C43.9175 30.5425 43.6182 30.6388 43.3082 30.7243C42.5599 28.3938 41.6405 26.1167 40.5821 23.9038C41.6084 21.7229 42.4743 19.478 43.2013 17.1795C43.7572 17.3399 44.2917 17.5109 44.8048 17.682C49.7866 19.3924 53.2823 21.9368 53.2823 23.8824C53.2823 25.9777 49.5514 28.6824 44.2169 30.4463ZM28.2133 28.8428C30.918 28.8428 33.1095 26.6512 33.1095 23.9466C33.1095 21.2419 30.918 19.0503 28.2133 19.0503C25.5086 19.0503 23.3171 21.2419 23.3171 23.9466C23.3171 26.6512 25.5086 28.8428 28.2133 28.8428Z"
                    fill="#BEC4C9" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="54.735" height="48" fill="white" transform="translate(0.845825)" />
                </clipPath>
            </defs>
        </svg>

        {{!-- Pyhton --}}
        <svg width="49" height="48" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path
                    d="M47.8645 18.08C47.0431 14.784 45.4858 12.2987 42.1685 12.2987H37.8911V17.3547C37.8911 21.28 34.5631 24.5867 30.7658 24.5867H19.3738C16.2591 24.5867 13.6778 27.2534 13.6778 30.3787V41.2374C13.6778 44.3307 16.3658 46.144 19.3738 47.0294C22.9791 48.0854 26.4458 48.2774 30.7658 47.0294C33.6351 46.1974 36.4618 44.5227 36.4618 41.2374V36.896H25.0805V35.4454H42.1685C45.4858 35.4454 46.7125 33.1307 47.8645 29.664C49.0591 26.0907 49.0058 22.656 47.8645 18.08ZM31.4805 39.7867C32.6645 39.7867 33.6245 40.7574 33.6245 41.952C33.6245 43.1574 32.6645 44.128 31.4805 44.128C30.3071 44.128 29.3365 43.1467 29.3365 41.952C29.3471 40.7467 30.3071 39.7867 31.4805 39.7867ZM18.8511 23.1574H30.2431C33.4111 23.1574 35.9391 20.544 35.9391 17.3654V6.49604C35.9391 3.40271 33.3365 1.08804 30.2431 0.565372C26.4245 -0.0639615 22.2751 -0.0319613 18.8511 0.576039C14.0298 1.42937 13.1551 3.21071 13.1551 6.50671V10.848H24.5578V12.2987H8.87781C5.56047 12.2987 2.65914 14.2934 1.75247 18.08C0.707139 22.4214 0.664473 25.1307 1.75247 29.664C2.56314 33.0347 4.49381 35.4454 7.81114 35.4454H11.7258V30.24C11.7258 26.4747 14.9791 23.1574 18.8511 23.1574ZM18.1365 7.94671C16.9525 7.94671 15.9925 6.97604 15.9925 5.78137C16.0031 4.57604 16.9525 3.60537 18.1365 3.60537C19.3098 3.60537 20.2805 4.58671 20.2805 5.78137C20.2805 6.97604 19.3205 7.94671 18.1365 7.94671Z"
                    fill="#BEC4C9" />
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="47.8934" height="48" fill="white" transform="translate(0.952393)" />
                </clipPath>
            </defs>
        </svg>

    </div>
    <div class="arrow-right"></div>
</section>

<section id="contact">
    <div class="contact__heading">
        <h3 class="heading__main">
            Our Programs
        </h3>
        <h1 class="heading__sec">
            We deal with following
        </h1>
    </div>
    <div class="contact__form">
        <form action="#" class="form" method="POST">

            <div class="form__group">
                <input type="text" id="name" placeholder="Full Name" class="form__input" required />
                <label for="name" class="form__label">Full Name</label>
            </div>
            <div class="form__group">
                <input type="email" id="email" placeholder="Email Address" class="form__input" required />
                <label for="email" class="form__label">Email Address</label>
            </div>
             <div class="form__group">
                <input type="phone" id="phone" placeholder="Phone Number" class="form__input" required />
                <label for="phone" class="form__label">Phone Number</label>
            </div>
            <div class="form__group">
                <input type="text" id="message" placeholder="Message" class="form__input" required />
                <label for="message" class="form__label">Message</label>
            </div>

            <div class="form__group" style="text-align: center;">
                <button class="btn">Submit </button>
            </div>
        </form>
    </div>
</section>

{{>footer}}
{{!-- --}}
{{>end}}