/* 

font-family: 'Oswald', sans-serif;
*/

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* 1 rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-dark);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-white);
}

::selection{
    background-color: rgba(237, 2, 51, 0.7);
    color: var(--color-white);
}

