*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}

html {
    // defines what one rem is
  font-size: 62.5%;  //1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25% //1rem = 9px 9/16 = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50% //1rem = 8px 8/16 = 50% 
  }
  @include respond(big-desktop) {
    font-size: 75% //1rem = 12 12/16 = 75%
  }

}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
   background-color: $color-primary;
   color:$color-white;
}