<footer>
    <div class="main">
        <div class="navbar__logo">
            <span class="logo__entity">
                &ltrif;
            </span>
            Tech Particle
            <span class="logo__entity">
                &rtrif;
            </span>
        </div>
        <p class="footer__text">
            Habitant quis nec nibh molestie lorem eu fermentum massa viverra aenean sed sed neque tincidunt sed praesent
            elit enim quisque tristique quis cras elit, massa luctus congue neque, ullamcorper tellus convallis ut.
        </p>
        <div class="socials">
            <a href="https://www.facebook.com/techparticle" target="_blank"><svg class="social">
                    <use href="./svg/sg.svg#icon-facebook2"></use>
                </svg></a>
            <a href="https://www.instagram.com/techparticle00/" target="_blank"><svg class="social">
                    <use href="./svg/sg.svg#icon-instagram"></use>
                </svg></a>
            <a href="https://www.youtube.com/channel/UCr3TWsn70CLQckK1qnICV1w" target="_blank"><svg class="social">
                    <use href="./svg/sg.svg#icon-youtube"></use>
                </svg></a>

        </div>
    </div>
    <div id="second">
        <div class="secondary">
            <h3 class="second__text">
                tech stack
            </h3>
            <ul>
                <li>html</li>
                <li>css</li>
                <li>VUE</li>
                <li>javascript</li>
                <li>node</li>
                <li>python</li>
                <li>react</li>

            </ul>
        </div>
        <div class="tertiary">
            <h3 class="second__text">
                Contact info
            </h3>
            <ul>
                <li>3 E 19th St, 123 Fifth Avenue,
NY 10160, Durgapur, West Bengal</li>
                <li>(+1) 123 456 78 90</li>
                <li>mail@example.com</li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyright">
        <div class="copy__main">
Copyright &copy; 2021 Tech Particle
        </div>
        <div class="copy__secondary">
Powered by Tech Particle
        </div>
    </div>